version: '3'



volumes:

  prometheus-data:

    driver: local

  grafana-storage:
#    external: true
    driver: local



services:

  nginx: 

    image: nginx:latest

    container_name: nginx

    volumes:
      - ./ssl:/etc/ssl
      - ./nginx/conf.d/:/etc/nginx/conf.d

    ports:

      - 80:80

      - 443:443

    networks:

      - monitoring



  prometheus:

    image: prom/prometheus:latest

    container_name: prometheus
    user: root
    ports:

      - "9090:9090"

    volumes:

      - ./prometheus-config/:/config

      - ./prometheus-data:/prometheus



    restart: unless-stopped

    command:

      - "--config.file=/config/prometheus.yml"

    networks:

      - monitoring    

    



  grafana:

    image: grafana/grafana-oss:latest

    container_name: grafana
    user: "0"
    ports:

      - "3000:3000"

    volumes:

      - ./grafana-storage:/var/lib/grafana
    environment:
      - "GF_SECURITY_ADMIN_PASSWORD=Admin&*90"
      - GF_USERS_ALLOW_SIGN_UP=false
      - GF_SERVER_HTTP_PORT=3000
      - GF_SERVER_PROTOCOL=http
      - GF_SERVER_DOMAIN=monitoring.xelerate.solutions
      - GF_SERVER_ROOT_URL=https://monitoring.xelerate.solutions
      - GF_SERVER_SERVE_FROM_SUB_PATH=true
    restart: unless-stopped

    networks:

      - monitoring    



networks:

  monitoring:

      driver: bridge
